.portfolio-title {
    text-align: center;
}

.portfolio-container {
    display: flex;
    justify-content: center;
    background-color: beige;
}


@media (max-width: 600px) {
    .portfolio-container {
        display: flex;
        flex-direction: column;
    }
    
}

@media (max-width: 1200px) {
    .portfolio-container {
        display: flex;
        flex-direction: column;
    }
}

